extends layout

block content

  h1 Here  Comes Trouble
  p Welcome to #{"The Thunder Dome"}


    button#makeHtml.btn.btn-warning Make HTML
    button#makeImage.btn.btn-success Create Images

  #home


  div#pageLoad
    p To see options, select a button above.
