extends layout

block content

  .jumbotron
    h1 Final Results

    button#result.btn.btn-success Route 01
    button#result1.btn.btn-success Route 02
    button#result2.btn.btn-success Route 03
  div#home

  div#pageLoad
    p To see options, select a button above.


  //
  //In index.pug define three buttons that have the labels:
  //Route01, Route02, Route03